.pytest_cache/
.ruff_cache/
__pycache__/
checkpoints/*
!checkpoints/.gitkeep

logs/*
!logs/.gitkeep

*.pyc
venv/
data/
models/
.idea/

# Ignore debug_related files
debug/debug_outputs/

.gemini
.geminiignore
GEMINI.md
